.header__inner {
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    align-items: center;
}

.header__logo {
    font-family: "Century", "Century Gothic", serif;
    font-size: 32px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

