.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.confirm__heading h2 {
    font-family: "Century", "Century Gothic", serif;
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 25%;
    border-bottom: 1px solid #ddd;
    background-color: black;
    color:white;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    padding-left: 40px;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    padding-left: 30px;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form__button--submit {
    padding: 0;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.form__button--submit:hover {
    opacity: 0.7;
}

.form__button--back {
    background: none;
    border: none;
    padding: 0;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.form__button--back:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {

    .form__group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form__group-title {
        width: 100%;
        margin-bottom: 8px;
    }

    .form__group-content {
        width: 100%;
        display: block;
    }
}