.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.contact-form__heading h2 {
    font-family: "Century", "Century Gothic", serif;
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.form__group {
    display: flex;
    margin-bottom: 15px;
}

.form__group-title{
    width: 200px;
    text-align: left;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;

    color: #ff0000;
}

.form__error {
    width: 100%;
    color: #ff0000;
    text-align: left;
    margin-top: 5px;
    white-space: normal;
}

.form__group-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form__group-radio{
    display: flex;
}

.form__input--radio {
    width: 600px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.form__input--name input {
    padding: 10px;
    width: 290px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
    background: #fafafa;
}

.form__input--tel input {
    padding: 10px;
    width: 170px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
    background: #fafafa;
}

.form__input--name {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.form__input--tel {
    display: flex;
    gap: 20px;
}

.form__input-block {
    display: flex;
    flex-direction: column;
}

.form__type-select {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;

    background: #fafafa;
}

.form__group-content-select {
    width: 300px;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
    background: #fafafa;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {

    .form__group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form__group-title {
        width: 100%;
        margin-bottom: 8px;
    }

    .form__group-content {
        width: 100%;
        display: block;
    }

    .form__group-radio {
        display: block;
    }

    .form__input--name,
    .form__input--tel {
        flex-direction: column !important;
        gap: 8px !important;
    }
}