.login__link {
    margin-left: auto;
}

.login__button-submit {
    text-decoration: none;
    padding: 8px 18px;
    background-color: lightgray;
    color: black;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
}

.login__button-submit:hover {
    background-color: blue;
    color: white;
}

main {
    min-height: 100vh;
    background-color: #f2f1ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.register-form__heading {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
    color: #7a6f66;
    font-family: "Century", "Century Gothic", serif;
    font-size: 28px;
    font-weight: normal;
}

.register-form__heading h2 {
    font-family: "Century", "Century Gothic", serif;
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

.register-form__content {
    background-color: #fff;
    padding: 60px 80px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    width: 500px;
}

.form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}